body {
    font-family: Arial, sans-serif;
}
main {
  flex: 1;
}


/* Logo en la barra de navegación */
.logo {
    height: 100px;
    width: auto;
    border-radius: 10px;
    margin-left: 5px;
    /* Bordes suaves */
}

.subrayado {
  display: inline-block;
  background-color: #ffe082; /* amarillo suave, más cálido */
  padding: 0.2em 0.5em;
  border-radius: 6px;
}




/* Espaciado en el header */
header {
    padding: 100px 20px;
}

/* Tarjetas de simulaciones */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Estilo del footer */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}



img.rounded {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

img.rounded:hover {
    transform: scale(1.03);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}







