body {
    font-family: Arial, sans-serif;
}

/* Logo en la barra de navegación */
.logo {
    height: 100px;
    width: auto;
    border-radius: 10px;
    margin-left: 5px;
    /* Bordes suaves */
}

.subrayado {
  display: inline-block;
  background-color: #ffe082; /* amarillo suave, más cálido */
  padding: 0.2em 0.5em;
  border-radius: 6px;
}







#contacto form {
  max-width: 600px;
  margin: 0 auto;
}
#contacto {
  background-color: #e3f2fd; /* Azul muy clarito */
  padding: 50px 20px;
  border-radius: 10px;
}

#contacto h2 {
  color: #0d47a1;
  font-weight: bold;
}

#contacto .form-label {
  color: #0d47a1;
}

#contacto .btn-primary {
  background-color: #1565c0;
  border-color: #1565c0;
}

#contacto .btn-primary:hover {
  background-color: #0d47a1;
  border-color: #0d47a1;
}




/* Espaciado en el header */
header {
    padding: 100px 20px;
}

/* Tarjetas de simulaciones */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Estilo del footer */
footer {
  background-color: #1565c0;
  display: grid;
  place-items: center;
  height: 100vh;
  color: white;
}

img.rounded {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

img.rounded:hover {
    transform: scale(1.03);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.bg-contacto {
  background-color: #e3f2fd;
  padding-top: 50px;
  padding-bottom: 50px;
}






