body {
    font-family: Arial, sans-serif;
}

/* Logo en la barra de navegación */
.logo {
    height: 100px;
    width: auto;
    border-radius: 10px;
    margin-left: 5px;
    /* Bordes suaves */
}

/* Espaciado en el header */
header {
    padding: 100px 20px;
}

/* Tarjetas de simulaciones */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Estilo del footer */
footer {
    background-color: #1565c0;  
   
}

.footer-logo {
    height: 40px;
    /* Ajusta el tamaño del logo */
    width: auto;
    margin-right: 450px;
}

.imagenes-container {
    display: flex;
    justify-content: center;
    /* Centra las imágenes horizontalmente */
    gap: 15px;
    /* Espacio entre imágenes */
}
.img-fluid {
  max-width: 100%;
  height: auto;
}


.imagenes-container {
    display: flex;
    flex-wrap: wrap;
    /* Permite que las imágenes se ajusten en pantallas pequeñas */
    justify-content: center;
    gap: 15px;
}

.imagenes-container img {
    width: 100%;
    /* Hace que las imágenes sean más flexibles */
    max-width: 300px;
    /* Evita que sean demasiado grandes en pantallas grandes */
    height: auto;
    border-radius: 10px;
    /* Bordes suaves */
}
