body {
    font-family: Arial, sans-serif;
}

/* Logo en la barra de navegación */
.logo {
    height: 100px;
    width: auto;
    border-radius: 10px;
    margin-left: 5px;
    /* Bordes suaves */
}

#contacto form {
  max-width: 600px;
  margin: 0 auto;
}


/* Espaciado en el header */
header {
    padding: 100px 20px;
}

/* Tarjetas de simulaciones */
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Estilo del footer */
footer {
  background-color: #1565c0;
  display: grid;
  place-items: center;
  height: 100vh;
  color: white;
}

img.rounded {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

img.rounded:hover {
    transform: scale(1.03);
}




}
.img-fluid {
  max-width: 100%;
  height: auto;
}





